
.form{
	display:flex;
	flex-direction:column;
	align-items:center;
	
	height:500px;
	width:500px;

}

.login-form{
	display:flex;
	flex-direction:column;
	width:50%;
	align-items:center;
}
.login-form input{

	font-size:20px;
	padding:5px 10px;
}
.login{
	background-color:blue;
	border:5px;
	cursor:pointer;


	
}
#email{
	margin-bottom:20px;
	cursor:pointer;
}
#pass{
	margin-bottom:20px;
	cursor:pointer;
}
.nav a{
	text-decoration:none;
	color:gold;
}
